<!-- Header Area -->
<header class="header" >

    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <img src="/img/logo-png.png" alt="">
                            <h6 style="display: inline;">Unimagen Libertad</h6>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li {{#eq ruta "/"}} class="active" {{/eq}} ><a href="/">Incio <i class="icofont-rounded-down"></i></a></li>
                                    <li><a href="/#scrollServicios" id="menuServicios">Servicios </a></li>
                                    <li><a href="/#scrollPlaness" id="menuPlaness">Planes </a></li>
                                    <!-- Con backend -->
<!-- 											<li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li> 
                                    
                                    <li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="blog-single.html">Blog Details</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- Con backend -->
                                    <li {{#eq ruta "/contacto"}} class="active" {{/eq}} ><a href="/contacto">Contáctenos</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <!-- Con backend -->
<!-- 							<div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a href="appointment.html" class="btn">Book Appointment</a>
                        </div>
                    </div> -->
                    <!-- Con backend -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->